@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
	height: 100%;
	width: 100%;
	font-family: 'poppins';
	color: #222;
}	
main {
	padding-top: 76px;
}
.navbar-nav li {
	padding-right: 20px;
}
.nav-link{
	font-size: .4cm !important;
}
.navbar-brand h1{
	font-size: 30px;
}
.carousel-inner img{
	width: 100%;
	height: 100%;
}
.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-caption h1{
	font-size: 300%;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
	font-size: 250%;
	font-weight: 500%;
	text-shadow: 1px 1px 15px #000;
	padding-bottom: 1rem;
}
.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.btn-primary{
	background-color: #6648b1;
	border: 1px solid #6648b1;
}
.btn-primary:hover {
	background-color: #563d7c;
	border: 1px solid #563d7c;
}
.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;
}
.fa-flickr {
	color: #ff0084;
}
.fa-instagram {
	color: #518fa4;
}
.fa-youtube {
	color: #bb0000;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-flickr:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: #fdcdcd;
}
.footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
}	
.social a {
	font-size: 1cm;
	text-align: center;
	padding: 2rem;
}
.card h6 {
	font-size: 14px;
}





/*---Media Queries --*/
@media (max-width: 992px) {
.social a {
		font-size: 4cm;
		padding: 2rem;
	}
  }
@media (max-width: 768px) {
  .carousel-caption{
	top: 45%;
	
}
.carousel-caption h1{
	font-size: 150%;
	
}
.carousel-caption h3{
	font-size: 140%;
	font-weight: 200%;
	padding-bottom: .2rem;
}
.carousel-caption .btn{
	font-size: 95%;
	padding: 8px 14px;
}
.display-4 {
	font-size: 200%;
}
.social a{
	font-size: 2.5cm;
	padding: 1.2rem;
}
}
@media (max-width: 576px) {
	.carousel-caption{
	top: 40%;
	
}
.carousel-caption h1{
	font-size: 75%;
	
}
.carousel-caption h3{
	font-size: 70%;
	font-weight: 200%;
	padding-bottom: .2rem;
}
.carousel-caption .btn{
	font-size: 90%;
	padding: 4px 8px;
}
.display-4 {
	font-size: 200%;
}
.carousel-indicators {
	display: none;
}
.display-4 {
	font-size: 160%;
}
.social a{
	font-size: 40px;
	padding: .7rem;
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/fixedbg.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








